[Unit]
Description=LED clock display driver
After=default.target

[Service]
Type=simple
ExecStart=/usr/local/bin/clock.py
User=pi

[Install]
WantedBy=default.target

# vi: syntax=systemd
