Adafruit-Blinka==8.2.0
adafruit-circuitpython-busdevice==5.2.1
adafruit-circuitpython-ht16k33==4.5.1
adafruit-circuitpython-register==1.9.14
adafruit-circuitpython-typing==1.7.2
adafruit-circuitpython-veml7700==1.1.18
Adafruit-PlatformDetect==3.27.0
Adafruit-PureIO==1.1.9
pyftdi==0.54.0
pyusb==1.2.1
rpi-ws281x==4.3.4
sysv-ipc==1.1.0
typing-extensions==4.3.0
